#page-number
{
	background: red;
	text-align: center;
	font-size: 30px;
	position: fixed;
	font-padding-top: 0;
	top: 84px;
	width: 98%;
	height: 45px;
	border-radius: 20px;
}

#pictures
{
	position: relative;
	top: 60px;
}